{{ define "main" }}
<section class="ts-block container">
    <h1></h1>
    <h1>Blog</h1>
    {{ range (.Site.GetPage "section" "blog").Pages }}
      <div style="padding: 1rem;">
        <a href="{{.Permalink}}"><img src="{{ .Params.image }}" style="width: 640px; height: auto; max-width: 100%; padding-top: 1rem; padding-bottom: 1rem;"></a>
        <div>
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2><br>
          <span>{{ .Date.Format "January 2, 2006" }}</span><br>
          <span>{{ if .Params.author }} Author: {{ .Params.author }}</span><br>{{end}}
        </div>
        <div style="padding-top: 1rem;">
          <div>{{ if .Params.tags }}Tags: {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
          <div>{{ if .Params.categories }}Categories: {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
        </div>
        <div style="padding-top: 1rem;">
          <div>{{ truncate 600 .Content }}</div>
        </div>
      </div>
  {{ end }}
</section>
{{ end }}