<!-- Variables -->

{{$work_together_img := "/assets/img/work.jpg"}}
{{ $work_together := "Let's Work Together On Your Next Project!" }}

<!-- Variables -->

<section class="ts-block">
    <div class="container">
        <div class="text-center px-5 pt-5 position-relative">
            <h3 class="my-3">
                {{$work_together}}
            </h3>
            <a href="#contact" class="btn btn-primary mr-2 ts-push-down__50 ts-has-talk-arrow">Hire Me Now!</a>
            <div class="ts-background" data-bg-image="{{$work_together_img}}"></div>
        </div>
    </div>
</section>