<!-- My Services Variables -->

{{ $our_services := "Our Services" }}

{{ $web_design := "Web Design" }}
{{ $web_design_img := "/assets/img/web_design.png" }}
{{ $web_design_text := "We build and design beautiful websites that you and your customers will love." }}

{{ $lead_magnets := "Lead Magnets" }}
{{ $lead_magnets_img := "/assets/img/lead_magnets.png" }}
{{ $lead_magnets_text := "We design lead magnets to help you build trust with your future customers." }}

{{ $automated_workflows := "Automated Workflows" }}
{{ $automated_workflows_img := "/assets/img/workflows.png" }}
{{ $automated_workflows_text := "We get your new lead magnets into the hands of your future customers straight from your website while continuing to nurture trust through drip campaigns." }}

{{ $copywriting := "Copywriting" }}
{{ $copywriting_img := "/assets/img/copywriting.png" }}
{{ $copywriting_text := "We help you increase your authority online by writing SEO-friendly content for your site." }}

{{ $individualized_solutions := "Individualized Solutions" }}
{{ $individualized_solutions_img := "/assets/img/individual.png" }}
{{ $individualized_solutions_text := "We know that every business is different, so we work with you to find the solutions that will suit your needs." }}

{{ $training := "Consulting and Training" }}
{{ $training_img := "/assets/img/training.png" }}
{{ $training_text := "Once we get you up and running with your new systems, we'll ensure you succeed with them." }}

<!-- My Services Variables End -->

<!--MY SERVICES ***********************************************************************************-->
<section id="my-services" class="ts-block ts-xs-text-center pb-0">
    <div class="container">
        <div class="ts-title text-center">
            <h2>{{$our_services}}</h2>
        </div>
        <!--end ts-title-->
        <div class="row">
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon" style="background-color: var(--default-color); height: 83.5px; width: auto; border-radius: 12.5%;">
                                <img src="{{$web_design_img}}" alt="Web Design" style="height: 83.5px; width: auto;">
                            </figure>
                            <!--end icon-->
                        </div>
                        <!--end ts-item-header-->
                        <div class="ts-item-body">
                            <h4>{{$web_design}}</h4>
                            <p class="mb-0">
                                {{$web_design_text}}
                            </p>
                        </div>
                        <!--end ts-item-body-->
                        <div class="ts-item-footer">
                            <div class="ts-link-arrow-effect">
                                <span></span>
                            </div>
                        </div>
                        <!--end ts-item-footer-->
                    </div>
                    <!--end ts-item-content-->
                </div>
                <!--end ts-item-->
            </div>
            <!--end col-xl-4-->
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".1s">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon" style="background-color: var(--default-color); height: 83.5px; width: auto; border-radius: 12.5%;">
                                <img src="{{$lead_magnets_img}}" alt="Lead Magnets" style="height: 83.5px; width: auto;">
                            </figure>
                            <!--end icon-->
                        </div>
                        <!--end ts-item-header-->
                        <div class="ts-item-body">
                            <h4>{{$lead_magnets}}</h4>
                            <p class="mb-0">
                                {{$lead_magnets_text}}
                            </p>
                        </div>
                        <!--end ts-item-body-->
                        <div class="ts-item-footer">
                            <div class="ts-link-arrow-effect">
                                <span></span>
                            </div>
                        </div>
                        <!--end ts-item-footer-->
                    </div>
                    <!--end ts-item-content-->
                </div>
                <!--end ts-item-->
            </div>
            <!--end col-xl-4-->
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".2s">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon" style="background-color: var(--default-color); height: 83.5px; width: auto; border-radius: 12.5%;">
                                <img src="{{$automated_workflows_img}}" alt="Workflows" style="height: 83.5px; width: auto;">
                            </figure>
                            <!--end icon-->
                        </div>
                        <!--end ts-item-header-->
                        <div class="ts-item-body">
                            <h4>{{$automated_workflows}}</h4>
                            <p class="mb-0">
                                {{$automated_workflows_text}}
                            </p>
                        </div>
                        <!--end ts-item-body-->
                        <div class="ts-item-footer">
                            <div class="ts-link-arrow-effect">
                                <span></span>
                            </div>
                        </div>
                        <!--end ts-item-footer-->
                    </div>
                    <!--end ts-item-content-->
                </div>
                <!--end ts-item-->
            </div>
            <!--end col-xl-4-->
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".3s">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon" style="background-color: var(--default-color); height: 83.5px; width: auto; border-radius: 12.5%;">
                                <img src="{{$copywriting_img}}" alt="Copywriting" style="height: 83.5px; width: auto;">
                            </figure>
                            <!--end icon-->
                        </div>
                        <!--end ts-item-header-->
                        <div class="ts-item-body">
                            <h4>{{$copywriting}}</h4>
                            <p class="mb-0">
                                {{$copywriting_text}}
                            </p>
                        </div>
                        <!--end ts-item-body-->
                        <div class="ts-item-footer">
                            <div class="ts-link-arrow-effect">
                                <span></span>
                            </div>
                        </div>
                        <!--end ts-item-footer-->
                    </div>
                    <!--end ts-item-content-->
                </div>
                <!--end ts-item-->
            </div>
            <!--end col-xl-4-->
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".4s">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon" style="background-color: var(--default-color); height: 83.5px; width: auto; border-radius: 12.5%;">
                                <img src="{{$individualized_solutions_img}}" alt="Individualized Solutions" style="height: 83.5px; width: auto;">
                            </figure>
                            <!--end icon-->
                        </div>
                        <!--end ts-item-header-->
                        <div class="ts-item-body">
                            <h4>{{$individualized_solutions}}</h4>
                            <p class="mb-0">
                                {{$individualized_solutions_text}}
                            </p>
                        </div>
                        <!--end ts-item-body-->
                        <div class="ts-item-footer">
                            <div class="ts-link-arrow-effect">
                                <span></span>
                            </div>
                        </div>
                        <!--end ts-item-footer-->
                    </div>
                    <!--end ts-item-content-->
                </div>
                <!--end ts-item-->
            </div>
            <!--end col-xl-4-->
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".5s">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon" style="background-color: var(--default-color); height: 83.5px; width: auto; border-radius: 12.5%;">
                                <img src="{{$training_img}}" alt="Training" style="height: 83.5px; width: auto;">
                            </figure>
                            <!--end icon-->
                        </div>
                        <!--end ts-item-header-->
                        <div class="ts-item-body">
                            <h4>{{$training}}</h4>
                            <p class="mb-0">
                                {{$training_text}}
                            </p>
                        </div>
                        <!--end ts-item-body-->
                        <div class="ts-item-footer">
                            <div class="ts-link-arrow-effect">
                                <span></span>
                            </div>
                        </div>
                        <!--end ts-item-footer-->
                    </div>
                    <!--end ts-item-content-->
                </div>
                <!--end ts-item-->
            </div>
            <!--end col-xl-4-->

        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--END MY SERVICES *************************************************************************************-->