<section class="container ts-block">
    <br><h1>{{ .Get `headline` }}</h1>
    <p>{{.Get `paragraph1`}}</p>
    <p>{{.Get `paragraph2`}}</p>
    <p>{{.Get `paragraph3`}}</p>
    <p>{{.Get `paragraph4`}}</p>
    <p>1. {{.Get `type_of_information`}}</p>
    <p style="margin-left: 20px;">{{.Get `type_of_information1`}}</p>
    <p style="margin-left: 20px;">{{.Get `type_of_information2`}}</p>
    <p style="margin-left: 20px;">{{.Get `type_of_information3`}}</p>
    <p style="margin-left: 20px;">{{.Get `type_of_information4`}}</p>
    <p>2. {{.Get `how_information`}}</p>
    <p style="margin-left: 20px;">{{.Get `how_information1`}}</p>
    <p style="margin-left: 20px;">{{.Get `how_information2`}}</p>
    <p style="margin-left: 20px;">{{.Get `how_information3`}}</p>
    <p>3. {{.Get `cookies`}}</p>
    <p style="margin-left: 20px;">{{.Get `cookies1`}}</p>
    <p style="margin-left: 20px;">{{.Get `cookies2`}}</p>
    <p>4. {{.Get `release`}}</p>
    <p style="margin-left: 20px;">{{.Get `release1`}}</p>
    <p style="margin-left: 20px;">{{.Get `release2`}}</p>
    <p style="margin-left: 20px;">{{.Get `release3`}}</p>
    <p style="margin-left: 20px;">{{.Get `release4`}}</p>
    <p>5. {{.Get `update_info`}}</p>
    <p style="margin-left: 20px;">{{.Get `update_info1`}}</p>
    <p style="margin-left: 20px;">{{.Get `update_info2`}}</p>
    <p>6. {{.Get `user_choice`}}</p>
    <p style="margin-left: 20px;">{{.Get `user_choice1`}}</p>
    <p style="margin-left: 20px;">{{.Get `user_choice2`}}</p>
    <p>7. {{.Get `security`}}</p>
    <p style="margin-left: 20px;">{{.Get `security1`}}</p>
    <p style="margin-left: 40px;">{{.Get `security2`}}</p>
    <p style="margin-left: 40px;">{{.Get `security3`}}</p>
    <p style="margin-left: 40px;">{{.Get `security4`}}</p>
    <p style="margin-left: 40px;">{{.Get `security5`}}</p>
    <p style="margin-left: 20px;">{{.Get `security6`}}</p>
    <p style="margin-left: 20px;">{{.Get `security7`}}</p>
    <p style="margin-left: 20px;">{{.Get `security8`}}</p>
    <p>8. {{.Get `miscellaneous`}}</p>
    <p style="margin-left: 20px;">{{.Get `miscellaneous1`}}</p>
    <p style="margin-left: 20px;">{{.Get `miscellaneous2`}}</p>
    <p style="margin-left: 20px;">{{.Get `miscellaneous3`}}</p>
    <p style="margin-left: 20px;">{{.Get `miscellaneous4`}}</p>
    <p style="margin-left: 20px;">{{.Get `miscellaneous5`}}</p>
    <p>9. {{.Get `data_subjects`}}</p>
    <p style="margin-left: 20px;">{{.Get `data_subjects1`}}</p>
    <p style="margin-left: 20px;">{{.Get `data_subjects2`}}</p>
    <p style="margin-left: 20px;">{{.Get `data_subjects3`}}</p>
</section>