<section class="ts-block" data-bg-image="assets/img/bg-man-sitting.jpg">
    <div class="container ts-promo-numbers">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="ts-promo-number text-center">
                    <figure class="odometer" data-odometer-final="43">0</figure>
                    <h5>Clients</h5>
                </div>
                <!--end ts-promo-number-->
            </div>
            <!--end col-md-3-->
            <div class="col-sm-6 col-md-3">
                <div class="ts-promo-number text-center">
                    <figure class="odometer" data-odometer-final="68">0</figure>
                    <h5>Projects</h5>
                </div>
                <!--end ts-promo-number-->
            </div>
            <!--end col-md-3-->
            <div class="col-sm-6 col-md-3">
                <div class="ts-promo-number text-center">
                    <figure class="odometer" data-odometer-final="17">0</figure>
                    <h5>Awards</h5>
                </div>
                <!--end ts-promo-number-->
            </div>
            <!--end col-md-3-->
            <div class="col-sm-6 col-md-3">
                <div class="ts-promo-number text-center">
                    <figure class="odometer" data-odometer-final="12">0</figure>
                    <h5>Years Experience</h5>
                </div>
                <!--end ts-promo-number-->
            </div>
            <!--end col-md-3-->
        </div>
    </div>
</section>
<!--end ts-block-->