<section class="container ts-block">
    <br><h1>{{ .Get `headline` }}</h1>
    <h2 style="text-align: center;">{{.Get `subheadline`}}</h2>
    <h3 style="text-align: center;">{{.Get `subheadline2`}}</h3>
    <p>1. {{.Get `acceptance`}}</p>
    <p style="margin-left: 20px;">{{.Get `acceptance1`}}</p>
    <p style="margin-left: 20px;">{{.Get `acceptance2`}}</p>
    <p style="margin-left: 20px;">{{.Get `acceptance3`}}</p>
    <p style="margin-left: 20px;">{{.Get `acceptance4`}}</p>
    <p>2. {{.Get `services`}}</p>
    <p style="margin-left: 20px;">{{.Get `services1`}}</p>
    <p style="margin-left: 40px;">a. {{.Get `services2`}}</p>
    <p style="margin-left: 60px;">{{.Get `services3`}}</p>
    <p style="margin-left: 40px;">b. {{.Get `services4`}}</p>
    <p style="margin-left: 60px;">{{.Get `services5`}}</p>
    <p style="margin-left: 40px;">c. {{.Get `services6`}}</p>
    <p style="margin-left: 60px;">{{.Get `services7`}}</p>
    <p style="margin-left: 40px;">d. {{.Get `services8`}}</p>
    <p style="margin-left: 60px;">{{.Get `services9`}}</p>
    <p>3. {{.Get `payment`}}</p>
    <p style="margin-left: 20px;">a. {{.Get `payment1`}}</p>
    <p style="margin-left: 40px;">{{.Get `payment2`}}</p>
    <p style="margin-left: 40px;">{{.Get `payment3`}}</p>
    <p style="margin-left: 20px;">b. {{.Get `payment4`}}</p>
    <p style="margin-left: 40px;">{{.Get `payment5`}}</p>
    <p style="margin-left: 20px;">c. {{.Get `payment6`}}</p>
    <p style="margin-left: 40px;">{{.Get `payment7`}}</p>
    <p style="margin-left: 40px;">{{.Get `payment8`}}</p>
    <p style="margin-left: 60px;">1. {{.Get `payment9`}}</p>
    <p style="margin-left: 60px;">2. {{.Get `payment10`}}</p>
    <p>4. {{.Get `posting_policies`}}</p>
    <p style="margin-left: 20px;">a. {{.Get `posting_policies1`}}</p>
    <p style="margin-left: 40px;">{{.Get `posting_policies2`}}</p>
    <p style="margin-left: 60px;">1. {{.Get `posting_policies3`}}</p>
    <p style="margin-left: 60px;">2. {{.Get `posting_policies4`}}</p>
    <p style="margin-left: 60px;">3. {{.Get `posting_policies5`}}</p>
    <p style="margin-left: 60px;">4. {{.Get `posting_policies6`}}</p>
    <p style="margin-left: 60px;">5. {{.Get `posting_policies7`}}</p>
    <p style="margin-left: 60px;">6. {{.Get `posting_policies8`}}</p>
    <p style="margin-left: 60px;">7. {{.Get `posting_policies9`}}</p>
    <p style="margin-left: 40px;">{{.Get `posting_policies10`}}</p>
    <p style="margin-left: 20px;">b. {{.Get `posting_policies11`}}</p>
    <p style="margin-left: 20px;">c. {{.Get `posting_policies12`}}</p>
    <p style="margin-left: 40px;">{{.Get `posting_policies13`}}</p>
    <p style="margin-left: 40px;">{{.Get `posting_policies14`}}</p>
    <p style="margin-left: 20px;">d. {{.Get `posting_policies15`}}</p>
    <p style="margin-left: 40px;">{{.Get `posting_policies16`}}</p>
    <p style="margin-left: 20px;">e. {{.Get `posting_policies17`}}</p>
    <p style="margin-left: 40px;">{{.Get `posting_policies18`}}</p>
    <p style="margin-left: 20px;">f. {{.Get `posting_policies19`}}</p>
    <p style="margin-left: 40px;">{{.Get `posting_policies20`}}</p>
    <p>5. {{.Get `intel_property`}}</p>
    <p style="margin-left: 20px;">a. {{.Get `intel_property1`}}</p>
    <p style="margin-left: 40px;">{{.Get `intel_property2`}}</p>
    <p style="margin-left: 20px;">b. {{.Get `intel_property3`}}</p>
    <p style="margin-left: 40px;">{{.Get `intel_property4`}}</p>
    <p style="margin-left: 40px;">{{.Get `intel_property5`}}</p>
    <p style="margin-left: 40px;">{{.Get `intel_property6`}}</p>
    <p style="margin-left: 20px;">c. {{.Get `intel_property7`}}</p>
    <p style="margin-left: 40px;">{{.Get `intel_property8`}}</p>
    <p style="margin-left: 20px;">d. {{.Get `intel_property9`}}</p>
    <p style="margin-left: 40px;">{{.Get `intel_property10`}}</p>
    <p>6. {{.Get `you_create`}}</p>
    <p style="margin-left: 20px;">a. {{.Get `you_create1`}}</p>
    <p style="margin-left: 40px;">{{.Get `you_create2`}}</p>
    <p style="margin-left: 40px;">{{.Get `you_create3`}}</p>
    <p style="margin-left: 40px;">{{.Get `you_create4`}}</p>
    <p style="margin-left: 60px;">1. {{.Get `you_create5`}}</p>
    <p style="margin-left: 60px;">2. {{.Get `you_create6`}}</p>
    <p style="margin-left: 60px;">3. {{.Get `you_create7`}}</p>
    <p style="margin-left: 60px;">4. {{.Get `you_create8`}}</p>
    <p style="margin-left: 60px;">5. {{.Get `you_create9`}}</p>
    <p style="margin-left: 60px;">6. {{.Get `you_create10`}}</p>
    <p style="margin-left: 40px;">{{.Get `you_create11`}}</p>
    <p style="margin-left: 40px;">{{.Get `you_create12`}}</p>
    <p style="margin-left: 20px;">b. {{.Get `you_create13`}}</p>
    <p style="margin-left: 40px;">{{.Get `you_create14`}}</p>
    <p style="margin-left: 60px;">1. {{.Get `you_create15`}}</p>
    <p style="margin-left: 60px;">2. {{.Get `you_create16`}}</p>
    <p style="margin-left: 60px;">3. {{.Get `you_create17`}}</p>
    <p style="margin-left: 60px;">4. {{.Get `you_create18`}}</p>
    <p style="margin-left: 60px;">5. {{.Get `you_create19`}}</p>
    <p style="margin-left: 20px;">c. {{.Get `you_create20`}}</p>
    <p style="margin-left: 40px;">{{.Get `you_create21`}}</p>
    <p style="margin-left: 40px;">{{.Get `you_create22`}}</p>
    <p style="margin-left: 20px;">d. {{.Get `you_create23`}}</p>
    <p style="margin-left: 40px;">{{.Get `you_create24`}}</p>
    <p style="margin-left: 60px;">1. {{.Get `you_create25`}}</p>
    <p style="margin-left: 60px;">2. {{.Get `you_create26`}}</p>
    <p style="margin-left: 60px;">3. {{.Get `you_create27`}}</p>
    <p style="margin-left: 60px;">4. {{.Get `you_create28`}}</p>
    <p style="margin-left: 60px;">5. {{.Get `you_create29`}}</p>
    <p style="margin-left: 60px;">6. {{.Get `you_create30`}}</p>
    <p style="margin-left: 60px;">7. {{.Get `you_create31`}}</p>
    <p style="margin-left: 60px;">8. {{.Get `you_create32`}}</p>
    <p style="margin-left: 60px;">9. {{.Get `you_create33`}}</p>
    <p style="margin-left: 60px;">10. {{.Get `you_create34`}}</p>
    <p style="margin-left: 60px;">11. {{.Get `you_create35`}}</p>
    <p style="margin-left: 60px;">12. {{.Get `you_create36`}}</p>
    <p style="margin-left: 60px;">13. {{.Get `you_create37`}}</p>
    <p>7. {{.Get `data`}}</p>
    <p style="margin-left: 20px;">{{.Get `data1`}}</p>
    <p>8. {{.Get `privacy_security`}}</p>
    <p style="margin-left: 20px;">a. {{.Get `privacy_security1`}}</p>
    <p style="margin-left: 40px;">{{.Get `privacy_security2`}}</p>
    <p style="margin-left: 20px;">b. {{.Get `privacy_security3`}}</p>
    <p style="margin-left: 40px;">{{.Get `privacy_security4`}}</p>
    <p style="margin-left: 20px;">c. {{.Get `privacy_security5`}}</p>
    <p style="margin-left: 40px;">{{.Get `privacy_security6`}}</p>
    <p style="margin-left: 20px;">d. {{.Get `privacy_security7`}}</p>
    <p style="margin-left: 40px;">{{.Get `privacy_security8`}}</p>
    <p>9. {{.Get `disclaimer`}}</p>
    <p style="margin-left: 20px;">{{.Get `disclaimer1`}}</p>
    <p style="margin-left: 20px;">{{.Get `disclaimer2`}}</p>
    <p style="margin-left: 20px;">{{.Get `disclaimer3`}}</p>
    <p style="margin-left: 20px;">{{.Get `disclaimer4`}}</p>
    <p style="margin-left: 20px;">{{.Get `disclaimer5`}}</p>
    <p style="margin-left: 20px;">{{.Get `disclaimer6`}}</p>
    <p style="margin-left: 20px;">{{.Get `disclaimer7`}}</p>
    <p style="margin-left: 20px;">{{.Get `disclaimer8`}}</p>
    <p>10. {{.Get `indemnification`}}</p>
    <p style="margin-left: 20px;">{{.Get `indemnification1`}}</p>
    <p style="margin-left: 20px;">{{.Get `indemnification2`}}</p>
    <p style="margin-left: 20px;">{{.Get `indemnification3`}}</p>
    <p style="margin-left: 20px;">{{.Get `indemnification4`}}</p>
    <p style="margin-left: 20px;">{{.Get `indemnification5`}}</p>
    <p>11. {{.Get `termination`}}</p>
    <p style="margin-left: 20px;">a. {{.Get `termination1`}}</p>
    <p style="margin-left: 40px;">{{.Get `termination2`}}</p>
    <p style="margin-left: 20px;">b. {{.Get `termination3`}}</p>
    <p style="margin-left: 40px;">{{.Get `termination4`}}</p>
    <p style="margin-left: 20px;">c. {{.Get `termination5`}}</p>
    <p style="margin-left: 40px;">{{.Get `termination6`}}</p>
    <p style="margin-left: 20px;">d. {{.Get `termination7`}}</p>
    <p style="margin-left: 40px;">{{.Get `termination8`}}</p>
    <p>12. {{.Get `miscellaneous`}}</p>
    <p style="margin-left: 20px;">a. {{.Get `miscellaneous1`}}</p>
    <p style="margin-left: 40px;">{{.Get `miscellaneous2`}}</p>
    <p style="margin-left: 40px;">{{.Get `miscellaneous3`}}</p>
    <p style="margin-left: 20px;">b. {{.Get `miscellaneous4`}}</p>
    <p style="margin-left: 40px;">{{.Get `miscellaneous5`}}</p>
    <p style="margin-left: 20px;">c. {{.Get `miscellaneous6`}}</p>
    <p style="margin-left: 40px;">{{.Get `miscellaneous7`}}</p>
    <p style="margin-left: 20px;">d. {{.Get `miscellaneous8`}}</p>
    <p style="margin-left: 40px;">{{.Get `miscellaneous9`}}</p>
    <p style="margin-left: 20px;">e. {{.Get `miscellaneous10`}}</p>
    <p style="margin-left: 40px;">{{.Get `miscellaneous11`}}</p>
    <p style="margin-left: 20px;">f. {{.Get `miscellaneous12`}}</p>
    <p style="margin-left: 40px;">{{.Get `miscellaneous13`}}</p>
    <p style="margin-left: 20px;">g. {{.Get `miscellaneous14`}}</p>
    <p style="margin-left: 40px;">{{.Get `miscellaneous15`}}</p>
    <p style="margin-left: 20px;">h. {{.Get `miscellaneous16`}}</p>
    <p style="margin-left: 40px;">{{.Get `miscellaneous17`}}</p>
</section>